<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/grid-layout.css">
    <link rel="stylesheet" href="/public/styles/cars-gradient.css">
    <title>Cars</title>
</head>
<body>
    <div class="img-content">
        <div class="img-item-1">
            <img src="/public/images/orange-car.jpg" alt="orange car">
        </div>
        <div class="img-item-2">
            <img src="/public/images/white-car.jpg" alt="white car">
        </div>
        <div class="img-item-3">
            <img src="/public/images/pink-car.jpg" alt="pink car">
        </div>
    </div>
</body>
</html>